USE [master]
GO
/****** Object:  Database [dataproje]    Script Date: 7.06.2024 16:54:04 ******/
CREATE DATABASE [dataproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataproje', FILENAME = N'C:\Users\ev\Desktop\Yeni klasör (2)\MSSQL16.MSSQLSERVER\MSSQL\DATA\dataproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataproje_log', FILENAME = N'C:\Users\ev\Desktop\Yeni klasör (2)\MSSQL16.MSSQLSERVER\MSSQL\DATA\dataproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataproje]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](10) NULL,
	[Sifre] [varchar](30) NULL,
	[Yetki] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[Cariid] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](15) NULL,
	[CariMail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
	[CariSifre] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[Departmanid] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[urunad] [varchar](30) NULL,
	[urunbilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Faturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[Faturaid] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [char](6) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[Giderid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[Giderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[TakipKodu] [varchar](10) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](20) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](10) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[Personelid] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](250) NULL,
	[Departmanid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[Satisid] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[Cariid] [int] NOT NULL,
	[Personelid] [int] NOT NULL,
	[Urunid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[Satisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLO1]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLO1](
	[STOK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[Urunid] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[Kategoriid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yapilacaks]    Script Date: 7.06.2024 16:54:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yapilacaks](
	[Yapilacakid] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](100) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yapilacaks] PRIMARY KEY CLUSTERED 
(
	[Yapilacakid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (1, N'a', N'1', NULL)
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (2, N'b', N'2', NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (1, N'Ayşen', N'Kaya', N'İzmir', N'aysekaya@gmail.com', 1, N'1324')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (2, N'İbrahim', N'Altınpınar', N'Aksaray', N'iboaltın@gmail.com', 1, NULL)
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [CariMail], [Durum], [CariSifre]) VALUES (3, N'Mehmet', N'Yılmaz', N'Kırşehir', N'm.yılmaz@gmail.com', 1, NULL)
SET IDENTITY_INSERT [dbo].[Carilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (1, N'Satış', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (2, N'muhasebe', 1)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (3, N'Satın Alma', 1)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
GO
SET IDENTITY_INSERT [dbo].[Detays] ON 

SET IDENTITY_INSERT [dbo].[Detays] OFF
GO
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (1, N'Buzdolabı', 1, CAST(2700.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (2, N'Fırın', 1, CAST(1000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (4, N'Laptop', 1, CAST(4000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (2, N'A', N'100000', CAST(N'2024-05-18T00:00:00.000' AS DateTime), N'Kadıköy V. D.', N'13:30 ', N'Murat Karaca', N'Mustafa Koca', CAST(6000.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'A', N'100001', CAST(N'2024-05-18T00:00:00.000' AS DateTime), N'Beşiktaş', N'13:45 ', N'Murat Karaca', N'Mustafa Koca', CAST(3700.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (4, N'A', N'100002', CAST(N'2024-05-19T00:00:00.000' AS DateTime), N'Konak', N'15:19 ', N'Barış Koyuncu', N'Oktay Kuzu', CAST(4000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (1, N'1 adet buzdolabı ve 1 adet çamaşır makinesi alındı.', N'ABC345789K', N'Mustafa Koca', N'Ayşen Kaya', CAST(N'2024-05-28T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (2, N'1 adet televizyon 1 adet laptop', N'237D53A46C', N'Barış Koyuncu', N'Murat Karaca', CAST(N'2024-05-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (2, N'ABC345789K', N'Müşteri satışı tamamlandı.', CAST(N'2024-05-28T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (3, N'ABC345789K', N'Ürün kargoya verildi.', CAST(N'2024-05-28T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (4, N'ABC345789K', N'Ürün Kırşehir''den çıktı.', CAST(N'2024-05-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'Beyaz Eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'Telefon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'Küçük Ev Aletleri')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (1, N'Mustafa', N'Koca', N'/Image/personel.jpg', 4)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (2, N'Barış', N'Koyuncu', N'/Image/personel.jpg', 2)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (3, N'Oktay', N'Kuzu', N'/Image/personel.jpg', 3)
SET IDENTITY_INSERT [dbo].[Personels] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (1, CAST(N'2024-05-14T00:00:00.000' AS DateTime), 2, CAST(1500.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 3, 1, 2)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (3, CAST(N'2024-05-14T00:00:00.000' AS DateTime), 1, CAST(1000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), 1, 2, 7)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (6, CAST(N'2024-05-14T00:00:00.000' AS DateTime), 1, CAST(2700.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 2, 3, 1)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (1, N'Buzdolabı', N'Arçelik', 136, CAST(2400.00 AS Decimal(18, 2)), CAST(2700.00 AS Decimal(18, 2)), 1, N'/thumber/galeriproje/1.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (2, N'Çamaşır Makinesi', N'Beko', 99, CAST(1200.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), 1, N'/thumber/galeriproje/2.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (3, N'Laptop', N'Toshiba', 48, CAST(3500.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 1, N'/thumber/galeriproje/3.png', 4)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
SET IDENTITY_INSERT [dbo].[Yapilacaks] ON 

INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (1, N'Murat Beyle toplantı var.', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (2, N'Can Beyle toplantı var.', 0)
INSERT [dbo].[Yapilacaks] ([Yapilacakid], [Baslik], [Durum]) VALUES (3, N'Alev Hanımla iş görüşmesi', 0)
SET IDENTITY_INSERT [dbo].[Yapilacaks] OFF
GO
/****** Object:  Index [IX_Faturaid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Faturaid] ON [dbo].[FaturaKalems]
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departmanid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Departmanid] ON [dbo].[Personels]
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cariid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Cariid] ON [dbo].[SatisHarekets]
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personelid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personelid] ON [dbo].[SatisHarekets]
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Urunid] ON [dbo].[SatisHarekets]
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 7.06.2024 16:54:04 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Uruns]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carilers] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Departmen] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Faturalars] ADD  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid] FOREIGN KEY([Faturaid])
REFERENCES [dbo].[Faturalars] ([Faturaid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid] FOREIGN KEY([Departmanid])
REFERENCES [dbo].[Departmen] ([Departmanid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid] FOREIGN KEY([Cariid])
REFERENCES [dbo].[Carilers] ([Cariid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid] FOREIGN KEY([Personelid])
REFERENCES [dbo].[Personels] ([Personelid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid] FOREIGN KEY([Urunid])
REFERENCES [dbo].[Uruns] ([Urunid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid]
GO
USE [master]
GO
